<p><span style="text-decoration: underline;"><strong>Описание продукта.</strong></span></p>
<p>Система &laquo;<span lang="en-US">DIGITAL</span>
<span lang="en-US">MENU</span>&raquo; представляет собой
электронное интерактивное меню с
множеством возможностей реализованное
на базе сенсорных планшетов с оперативной
системой <span lang="en-US">Android</span>. Система
&laquo;<span lang="en-US">DIGITAL</span> <span lang="en-US">MENU</span>&raquo;
- это интерактивная система заказов,
позволяющая Вашему Гостю легко и быстро
ознакомиться со всем многообразием
предлагаемых блюд, в любой момент без
помощи официанта сформировать заказ и
отправить его на исполнение, увидеть
фотографии блюд и их подробное описание,
попросить счет и много другое. </p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;"><strong>Как это работает.</strong></span></p>
<p>1. Посетителям выдаются
сенсорные планшеты с установленной
системой <strong>&laquo;</strong><span lang="en-US"><strong>DIGITAL</strong></span><strong>
</strong><span lang="en-US"><strong>MENU</strong></span><strong>&raquo;</strong>.</p>
<p>2. Клиенты выбирают блюда,
формируют заказ и отправляют его на
исполнение одним нажатием кнопки. </p>
<p>3. Во время ожидания
заказа гости могут воспользоваться
интернетом, почитать новости, посмотреть
фильм, you<span lang="en-US">tube</span>,
занять себя играми, ознакомиться со
специальными предложениями Вашего кафе
или ресторана.</p>
<p>4. По окончании визита
и ужина посетитель возвращает устройство
официанту.</p>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;"><strong>Зачем Вам это нужно.</strong></span></p>
<ol>
<li>
<p><strong>&laquo;</strong><span lang="en-US"><strong>DIGITAL</strong></span><strong>
	</strong><span lang="en-US"><strong>MENU</strong></span><strong>&raquo;</strong> повышает
	лояльность постоянных клиентов и
	привлекает новых; </p>
</li>
<li>

<p>Существенное снижение

	нагрузки на обслуживающий персонал

	позволяет при необходимости сократить

	штат;</p>

</li>

<li>

<p>Реклама заведения

	и услуг партнеров, размещаемая в <strong>&laquo;</strong><span lang="en-US"><strong>DIGITAL</strong></span><strong>

	</strong><span lang="en-US"><strong>MENU</strong></span><strong>&raquo;</strong>, создает

	дополнительный источник дохода и

	повышает узнаваемость торговой марки;</p>

</li>

<li>

<p>Всплывающие предложения

	блюд и напитков, заранее запрограммированные

	в <strong>&laquo;</strong><span lang="en-US"><strong>DIGITAL</strong></span><strong> </strong><span lang="en-US"><strong>MENU</strong></span><strong>&raquo;</strong>,

	позволяют продвигать элементы меню

	более результативно, что стимулирует

	импульсные заказы;</p>

</li>

<li>

<p><strong>&laquo;</strong><span lang="en-US"><strong>DIGITAL</strong></span><strong>

	</strong><span lang="en-US"><strong>MENU</strong></span><strong>&raquo;</strong> повышает

	общую эффективность бизнеса и уровень

	сервиса;</p>

</li>

<li>

<p>Регистрация действий

	и перемещений пользователя в структуре

	&laquo;<span lang="en-US">DIGITAL</span> <span lang="en-US">MENU</span>&raquo;

	и счетчики кликов по различным блюдам

	помогают Вам проводить анализ

	привлекательности блюд и предложений

	Вашего заведения;</p>

</li>

<li>

<p>Интерактивная система

	заказов подчеркивает уникальность

	заведения и позволяет всегда быть на

	шаг впереди конкурентов;</p>

</li>

<li>

<p>Широкий выбор

	интерактивных развлечений удовлетворяет

	самую разную возрастную аудиторию;</p>

</li>

<li>

<p>Использование

	современных инновационных технологий

	создает имидж и статус Вашего заведения;</p>

</li>

<li>

<p>Возможность позвать

	официанта в любое время 

	</p>

</li>

<li>

<p>&laquo;<span lang="en-US">DIGITAL</span>
	<span lang="en-US">MENU</span>&raquo; &ndash; это самый эффективный
	способ продвижения сезонных блюд и
	новинок;</p>
</li>
<li>
<p>Отсутствие человеческого
	фактора в процессе принятия заказа
	исключает возможность ошибки и
	гарантирует, что гостю будут поданы
	именно те блюда, которые он заказал;</p>
</li>
<li>
<p>Гость получает
	средство обратной связи с руководством
	заведения, в виде простой и удобной
	интерактивной анкеты;</p>
</li>
<li>
<p>С &laquo;<span lang="en-US">DIGITAL</span>
	<span lang="en-US">MENU</span>&raquo; больше не нужно заново
	верстать и перепечатывать меню, каждый
	раз, когда появляется необходимость
	внести в него изменения;</p>
</li>
<li>
<p>&laquo;<span lang="en-US">DIGITAL</span>
	<span lang="en-US">MENU</span>&raquo; позволяет создать
	уникальный дизайн, в полной мере
	отражающий индивидуальный стиль
	заведения.</p>
<p>&nbsp;</p>
</li>
</ol>
<p><em><strong>Позвоните нам +7(831)291-76-60 или пришлите письмо с Вашими
вопросами на </strong></em><em><span style="text-decoration: underline;"><strong><a href="mailto:argroup52@yandex.ru">argroup52@yandex.ru</a></strong></span></em><em><strong>&nbsp; и мы с
удовольствием ответим на Ваши вопросы и обязательно организуем презентацию в Вашем заведении с учетом именно ваших
особенностей ведения бизнеса, чтобы Вы смогли наглядно представить, как это будет работать у Вас!</strong></em></p>

