<p><span style="font-size: medium;"><span style="text-decoration: underline;"><strong>Контакты:</strong></span></span></p>
<br/>
<p>Сочнев Артем Павлович</p>
<p>Директор ООО "АР ГРУПП"</p>
<p>Тел. +7 (831) 291-76-60</p>
<p>Моб. +7 (904) 044-37-66</p>
<p><span lang="en-US">E-mail:<a href="mailto:argroup52@yandex.ru">argroup52@yandex.ru</a></span></p>
<p>Юридический адрес: г. Н. Новгород, ул. Кащенко, 19 А.</p>
