<h2 style="text-align: center;"><strong>Уважаемый Ресторатор!</strong></h2>
<p align="CENTER">&nbsp;</p>
<p align="CENTER">Задумывались ли Вы:</p>
<p align="CENTER">&nbsp;</p>
<p align="CENTER"><strong>Как увеличить продажи в своем кафе?</strong></p>
<p align="CENTER"><strong><br /></strong></p>
<p align="CENTER"><strong>Как придумать &laquo;фишку&raquo;, которая приведет Вам новых клиентов?</strong></p>
<p align="CENTER"><strong><br /></strong></p>
<p align="CENTER"><strong>Как побудить гостей Вашего заведения заказывать большее количество блюд и увеличить средний чек?</strong></p>
<p align="CENTER"><strong><br /></strong></p>
<p align="CENTER"><strong>Как извлекать дополнительный доход от размещения рекламы без вложений с Вашей стороны?</strong></p>
<p align="CENTER"><strong><br /></strong></p>
<p align="CENTER">В настоящее время ресторанный бизнес продолжает развиваться стремительным темпом.
Рестораторы и владельцы кафе разрабатывают новые идеи, предлагают эксклюзивные сервисы, чтобы всегда оставаться интересными для своих посетителей. 
Услуги караоке, специальных трансляций спортивных событий, <span lang="en-US">WI</span>-<span lang="en-US">FI</span> интернета и др. уже не редкость. Что же
еще нужно придумать, чтобы привлечь клиента, заставить его находиться в вашем заведении как можно дольше,
рекомендовать Ваш ресторан (кафе, бар) и заказывать новые блюда?</p>
<p align="CENTER">&nbsp;</p>
<p align="CENTER"><em><strong>Компания АР ГРУПП предлагаем Вам совершенно новый подход в автоматизации вашего бизнеса,
безграничные возможности продвижения Вашего кафе-ресторана-бара, современный
способ обслуживания Ваших клиентов и получения дополнительного дохода.</strong></em></p>

