<body>
  <div class="main">
    <%= link_to :root do %>
      <div><div class="circlefon">
        <div class="circle"></div>
        <div class="circle1"></div>
      </div></div>
    <% end %>
  </div>
</body>
